@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  max-width: 1366px;
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  max-width: 1166px;
}

@media (max-width: 1166px) {
  .container {
    max-width: calc(240px + 926 * ((100vw - 280px) / 886));
  }
}

.header {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

#carouselExampleCaptions button {
  background-color: #ffffff00;
  width: 40px;
  height: 9px;
  margin: 0 10px;
  border: 1px solid #fff;
}

#carouselExampleCaptions button:hover {
  -webkit-box-shadow: 2px 2px 2px #a5a5a5;
          box-shadow: 2px 2px 2px #a5a5a5;
}

#carouselExampleCaptions .active {
  background-color: #ffde00;
}

.header__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  padding-top: 60px;
}

@media (max-width: 1166px) {
  .header__inner {
    padding-top: calc(20px + 40 * ((100vw - 280px) / 886));
  }
}

.header__inner .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .img-logo {
  max-width: 100%;
}

.header__inner .header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin-top: 150px;
  margin-bottom: 72px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin-top: 150px;
  margin-bottom: 72px;
}

@media (max-width: 1166px) {
  .header__inner .header__text {
    margin-top: calc(30px + 120 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .header__inner .header__text {
    margin-bottom: calc(1px + 71 * ((100vw - 280px) / 886));
  }
}

.header__inner .header__Sub-text {
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}

.header__inner .header__suP-text {
  margin-top: 25px;
  color: #bababa;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: center;
}

.header__inner .header__btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  width: 185px;
  height: 51px;
}

.header__inner .header__btn:hover {
  -webkit-box-shadow: 2px 2px 2px #a5a5a5;
          box-shadow: 2px 2px 2px #a5a5a5;
}

#carouselExampleCaptions .carousel-indicators {
  bottom: 30px;
}

.header__inner .menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .menu-nav__link {
  font-family: 'Raleway', sans-serif;
  font-size: 7px;
  font-weight: 600;
  font-style: normal;
  color: #828282;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 0;
}

.menu-nav {
  width: 50px;
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(1) translateX(25%);
      -ms-transform: scaleX(1) translateX(25%);
          transform: scaleX(1) translateX(25%);
  visibility: hidden;
}

.menu-nav :hover, .menu-nav :focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.menu-nav__activ {
  width: 585px;
  -webkit-transform: scaleX(1) translateX(0%);
      -ms-transform: scaleX(1) translateX(0%);
          transform: scaleX(1) translateX(0%);
  visibility: visible;
}

.menu-nav__activ .menu-nav__link {
  font-size: 12px;
  opacity: 1;
}

.header__inner .menu__btn {
  width: 50px;
  height: 50px;
  background-color: #ffde00;
  color: #2a2a2a;
  text-align: center;
  z-index: 10;
  display: inline-block;
  cursor: pointer;
}

.header__inner .menu__btn:hover {
  -webkit-box-shadow: 2px 2px 2px #a5a5a5;
          box-shadow: 2px 2px 2px #a5a5a5;
}

.header__inner .menu__btn .bar1, .header__inner .menu__btn .bar2, .header__inner .menu__btn .bar3 {
  margin: 9px auto;
  width: 35px;
  height: 5px;
  border-radius: 50px;
  background-color: #2a2a2a;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.menu-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a2a2a;
  opacity: 0.9;
  -webkit-transition: .6s linear;
  -o-transition: .6s linear;
  transition: .6s linear;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 100;
}

.menu-left__active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-left__list :hover, .menu-left__list :focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.menu-left__link {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #828282;
}

.about {
  max-width: 100%;
  background-color: #f9f9f9;
}

.about__content {
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-bottom: 65px;
}

@media (max-width: 1166px) {
  .about__content {
    padding-bottom: calc(15px + 50 * ((100vw - 280px) / 886));
  }
}

.about__content .about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__content .about__block-img {
  max-width: 855px;
  margin: 0 auto;
}

.about__content img {
  width: 100%;
  margin-bottom: 130px;
}

.about__content .about-h3__style {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #6e6e6e;
  margin-bottom: 50px;
}

.about__content .about-p__style {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: center;
  color: #767676;
}

.advantages {
  background-color: #f5f5f5;
  width: 100%;
}

.advantages .advantages__content {
  margin: 0 auto;
  max-width: 1030px;
  padding-top: 65px;
  padding-bottom: 100px;
  padding-top: 65px;
  padding-bottom: 100px;
}

@media (max-width: 1166px) {
  .advantages .advantages__content {
    padding-top: calc(15px + 50 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .advantages .advantages__content {
    padding-bottom: calc(0px + 100 * ((100vw - 280px) / 886));
  }
}

.advantages__cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__cards-box .advantages__cards-box__card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 416px;
  margin: 20px 0;
}

.advantages__cards-box .advantages__cards-box__card:hover .card__box__images {
  background: #ffde00;
  border: none;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.advantages__cards-box .advantages__cards-box__card:hover .advantages_text__SUB {
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  color: #ffde00;
}

.card__box__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 24px 10px 0;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
}

.card__box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}

.icon-light45,
.icon-open95,
.icon-ambulance8,
.icon-user78 {
  background-image: url(../sprite/sprite_icon/sprite.png);
}

.icon-light45 {
  background-position: -43px -36px;
  width: 24px;
  height: 36px;
}

.icon-open95 {
  background-position: 0px -36px;
  width: 38px;
  height: 38px;
}

.icon-ambulance8 {
  background-position: 0px 0px;
  width: 43px;
  height: 36px;
}

.icon-user78 {
  background-position: -43px 0px;
  width: 32px;
  height: 36px;
}

.advantages_text__SUB {
  font-size: 24px;
  color: #343434;
  font-weight: 900;
  text-transform: uppercase;
}

.advantages_text__sup {
  color: #686868;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.7;
}

.works {
  background: url(../img/SHAPES.png) no-repeat;
  background-size: cover;
  text-align: center;
}

.works .works-container {
  max-width: 968px;
  margin: 0 auto;
}

.works .works-bg {
  margin-top: 50px;
  margin-top: 50px;
}

@media (max-width: 1166px) {
  .works .works-bg {
    margin-top: calc(100px + -50 * ((100vw - 280px) / 886));
  }
}

.works .works-h3__style {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: normal;
  color: #6e6e6e;
  margin-top: 30px;
}

.works .works-p__style {
  font-size: 17px;
  line-height: 1.7;
  color: #767676;
  margin-top: 30px;
  padding-bottom: 151px;
  margin-top: 30px;
  padding-bottom: 151px;
}

@media (max-width: 1166px) {
  .works .works-p__style {
    margin-top: calc(20px + 10 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .works .works-p__style {
    padding-bottom: calc(70px + 81 * ((100vw - 280px) / 886));
  }
}

.filter {
  margin: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 85px;
}

@media (max-width: 1166px) {
  .filter {
    margin: calc(0px + 85 * ((100vw - 280px) / 886));
  }
}

.filter .filter-menu {
  margin: 0 10px;
  padding: 10px 30px;
  font-size: 18px;
  color: #8b8b8b;
  border: 1px solid #ffff0000;
}

.filter .filter-menu:hover {
  border: 1px solid #ffde00;
}

.works-filter__image {
  background: url(../img/Works.png) center center no-repeat;
  background-size: cover;
}

.works-filter__image .works-filter__box {
  padding-top: 1px;
}

.works-filter__image .works-filter__content {
  margin-left: 50%;
  margin-top: 236px;
  max-width: 343px;
  background: #ffde00;
  padding: 50px 40px 30px;
  margin-top: 236px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 1166px) {
  .works-filter__image .works-filter__content {
    margin-top: calc(0px + 236 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .works-filter__image .works-filter__content {
    padding-left: calc(10px + 30 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .works-filter__image .works-filter__content {
    padding-right: calc(10px + 30 * ((100vw - 280px) / 886));
  }
}

.works-filter__image .works-filter__h5-style {
  font-size: 17px;
  font-weight: bold;
  color: #575757;
}

.works-filter__image .works-filter__p-style {
  font-size: 17px;
  line-height: 1;
  color: #767676;
}

@media (max-width: 1024px) {
  .about .about__content,
  .advantages .advantages__content,
  .works-container,
  .contact-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 890px) {
  .advantages__cards-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .header__inner .link__nav {
    padding: 10px 14px;
  }
}

@media (max-width: 768px) {
  .menu-nav__activ {
    width: 400px;
  }
  .contact-form .contact-box .contact-form__input {
    width: 100%;
    height: 50px;
  }
  .contact-box .box-textarea .contact-form__textarea {
    padding-top: 15px;
  }
}

@media (max-width: 653px) {
  .contact-box .contact-form__btn {
    width: 65%;
    padding-left: 7px;
  }
}

@media (max-width: 567px) {
  .header__inner .menu-nav {
    display: none;
  }
}

@media (min-width: 568px) {
  .menu-left {
    display: none;
  }
}

@media (max-width: 568px) {
  .header__nav {
    position: relative;
    overflow-x: hidden;
  }
}

@media (max-width: 467px) {
  .advantages__cards-box__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .card__box__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__box__images {
    margin: 10px 0;
  }
}

@media (max-width: 414px) {
  .header__btn {
    display: block;
    margin: 0 auto;
  }
  .advantages__cards-box__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form .contact-box {
    grid-gap: 5vw;
  }
  .contact-form .contact-box .contact-form__input {
    height: 30px;
  }
}

@media (max-width: 360px) {
  .header__text .header__Sub-text {
    font-size: 30px;
  }
  .header__inner .header__btn {
    width: 150px;
    height: 35px;
  }
  #carouselExampleCaptions .carousel-indicators button {
    width: 30px;
    height: 5px;
  }
}

.contact {
  background: url(../img/Shape2.png) no-repeat;
  background-size: cover;
  text-align: center;
}

.contact .contact-image {
  padding-top: 130px;
  padding-bottom: 35px;
  padding-top: 130px;
}

@media (max-width: 1166px) {
  .contact .contact-image {
    padding-top: calc(40px + 90 * ((100vw - 280px) / 886));
  }
}

.contact .contact-text {
  max-width: 968px;
  margin: 0 auto;
}

.contact .contact-h3__style {
  text-transform: uppercase;
  font-size: 26px;
  color: #909090;
  padding-bottom: 30px;
}

.contact .contact-p__style {
  font-size: 17px;
  color: #767676;
  line-height: 1.5;
  padding-bottom: 140px;
  padding-bottom: 140px;
}

@media (max-width: 1166px) {
  .contact .contact-p__style {
    padding-bottom: calc(60px + 80 * ((100vw - 280px) / 886));
  }
}

.contact-form {
  max-width: 1170px;
  margin: 0 auto;
}

.contact-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2vw;
}

.contact-box .contact-input__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-box .contact-form__input {
  margin: 5px 10px;
  width: 30%;
  height: 72px;
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
}

.box-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  max-height: 205px;
}

.box-textarea .contact-form__textarea {
  width: 100%;
  padding-top: 30px;
}

.contact-form__input,
.contact-form__textarea {
  border: 0.5px solid #575757;
  padding-left: 17px;
  color: #535353;
  font-size: 20px;
  letter-spacing: 5.2px;
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 1166px) {
  .contact-form__input,
  .contact-form__textarea {
    font-size: calc(12px + 8 * ((100vw - 280px) / 886));
  }
}

.contact-form__btn {
  background: #ffde00;
  margin: 30px auto;
  width: 30%;
  height: 72px;
  padding-left: 17px;
  color: #535353;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5.2px;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1166px) {
  .contact-form__btn {
    font-size: calc(12px + 8 * ((100vw - 280px) / 886));
  }
}

.contact-form__btn:hover {
  -webkit-box-shadow: 2px 2px 2px #a5a5a5;
          box-shadow: 2px 2px 2px #a5a5a5;
}

.footer {
  margin-top: 126px;
  height: 200px;
  width: 100%;
  background-color: #efefef;
  margin-top: 126px;
  height: 200px;
}

@media (max-width: 1166px) {
  .footer {
    margin-top: calc(20px + 106 * ((100vw - 280px) / 886));
  }
}

@media (max-width: 1166px) {
  .footer {
    height: calc(100px + 100 * ((100vw - 280px) / 886));
  }
}

.footer .footer-info {
  margin: 0 auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.footer .footer-text_two {
  text-transform: uppercase;
  font-weight: bold;
}

.facebook,
.dribbble,
.behance {
  background-image: url(../sprite/sprite_socseti/sprite.png);
  margin-left: 12px;
  width: 32px;
  height: 32px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  cursor: pointer;
}

.footer .footer-icon_socsety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .facebook {
  background-position: -0 -0;
}

.footer .facebook:hover {
  background-position: -0 -32px;
}

.footer .dribbble {
  background-position: -32px 0px;
}

.footer .dribbble:hover {
  background-position: -32px -32px;
}

.footer .behance {
  background-position: -64px -0px;
}

.footer .behance:hover {
  background-position: -64px -32px;
}
/*# sourceMappingURL=style.css.map */