.header {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}


@import "slider_block.scss";


.header__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
    @include adaptiv-value (padding-top, 60, 20, 1);
    & .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .img-logo {
        max-width: 100%;
    }
    & .header__text {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin-top: 150px;
        margin-bottom: 72px;
        hyphens: auto;
        @include adaptiv-value(margin-top, 150, 30, 1);
        @include adaptiv-value(margin-bottom, 72, 1, 1);
    }
    & .header__Sub-text {
        font-size: 40px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
    }
    & .header__suP-text {
        margin-top: 25px;
        color: #bababa;
        @include p_text_style;
    }
    & .header__btn {
        text-transform: uppercase;
        color: #ffffff;
        background-color: $bac-color__transparent;  // Прозрачный фон
        border: 1px solid #ffffff;
        width: 185px;
        height: 51px;
        &:hover{
            box-shadow: $box-shadow;
        }
    }
}
//****************************************


#carouselExampleCaptions .carousel-indicators {
    bottom: 30px;
}
//****************************************